* {
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

main {
  background: #fff;
  border-radius: 5px;
  padding: 10px 5px;
}

main > h1 {
  text-align: center;
  border-bottom: 1px solid #eee;
  padding: 10px;
}

main > section {
  text-align: center;
  margin: 20px auto;
}

main > button {
  padding: 10px 20px;
  background-image: linear-gradient(#009cff, #006fff);
  border: 1px solid #009cff;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 0 #0000004d;
  cursor: pointer;
  border-radius: 3px;
  transition: background 0.2s;
  margin: auto;
  display: block;
}

main > button:hover {
  background-image: linear-gradient(#009cff, #009cff);
}

main > button:active {
  background-image:linear-gradient(#006fff, #006fff);
}

main > section > span {
  font-size: 1.5em;
  display: block;
}

@media (min-width: 950px) {
  main {
    width: 700px;
    margin: 0 auto;
  }
}
